:root {
  /* General. */
  --stellar-button-font-family: Inter, Roboto;
  --stellar-button-font-size: 12px;
  --stellar-button-min-width: 80px;
  --stellar-button-width: 112px;

  /* Colors. */
  --stellar-button-disabled-background-color: var(--stellar-gray-20, #ebecec);
  --stellar-button-disabled-color: var(--stellar-gray-40, #bcbcbc);
  --stellar-button-focus-color: var(--stellar-blue, #4fa1ff);
  --stellar-button-primary-background-color: var(--stellar-primary-900, #0d1667);
  --stellar-button-primary-border: 0;
  --stellar-button-primary-color: var(--stellar-white, #ffffff);
  --stellar-button-primary-hover-background-color: var(--stellar-primary-700, #283593);
  --stellar-button-secondary-background-color: var(--stellar-white, #ffffff);
  --stellar-button-secondary-border: solid 1px var(--stellar-primary-400, #5c6bc0);
  --stellar-button-secondary-color: var(--stellar-primary-700, #283593);
  --stellar-button-secondary-hover-background-color: var(--stellar-primary-50, #e8eaf6);
}

.stellar-button {
  align-items: center;
  background-color: var(--stellar-button-primary-background-color);
  border: var(--stellar-button-primary-border);
  border-radius: 4px;
  color: var(--stellar-button-primary-color);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--stellar-button-font-family);
  font-size: var(--stellar-button-font-size);
  font-style: normal;
  font-weight: bold;
  height: 24px;
  justify-content: center;
  line-height: 15px;
  letter-spacing: 0.05em;
  min-width: var(--stellar-button-min-width);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: var(--stellar-button-width);
}

.stellar-button.secondary {
  background-color: var(--stellar-button-secondary-background-color);
  border: var(--stellar-button-secondary-border);
  color: var(--stellar-button-secondary-color);
}

.stellar-button:disabled {
  background-color: var(--stellar-button-disabled-background-color);
  border: 0;
  color: var(--stellar-button-disabled-color);
  cursor: not-allowed;
  opacity: 0.8;
}

.stellar-button:focus {
  box-shadow: 0 0 0 2px var(--stellar-button-focus-color);
  outline: 0;
}

.stellar-button:hover:not([disabled]) {
  background-color: var(--stellar-button-primary-hover-background-color);
}

.stellar-button:hover.secondary:not([disabled]) {
  background-color: var(--stellar-button-secondary-hover-background-color);
}

.stellar-button-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
  outline: 0;
  padding: 0;
}
