:root {
  /* Emphasis Colors. */
  --st-black: #000;
  --st-blue: #4fa1ff;
  --st-green: #1aff66;
  --st-orange: #fdb462;
  --st-red: #ff7760;
  --st-white: #fff;
  --st-yellow: #ffdd5c;
  --st-yellow-light: #ffc93e;
  /* Gray Color Pallette. */
  /* When used as text, these are accessible on white and the lightest gray (#F8F8F8). */
  --st-gray-100: #1b1d1e;
  --st-gray-100-RGB: 27, 29, 30;
  --st-gray-90: #1f2223;
  --st-gray-90-RGB: 31, 34, 35;
  --st-gray-80: #293137;
  --st-gray-80-RGB: 41, 49, 55;
  --st-gray-70: #444c50;
  --st-gray-70-RGB: 68, 76, 80, 1;
  --st-gray-60: #545f64;
  --st-gray-60-RGB: 84, 95, 100;
  /* When used as text, these are accessible on black and the darkest gray (#1B1D1E). */
  --st-gray-50: #969696;
  --st-gray-50-RGB: 150, 150, 150;
  --st-gray-40: #bcbcbc;
  --st-gray-40-RGB: 188, 188, 188;
  --st-gray-30: #bec0c2;
  --st-gray-30-RGB: 190, 192, 194;
  --st-gray-20: #ebecec;
  --st-gray-20-RGB: 235, 236, 236;
  --st-gray-15: #f1f2f3;
  --st-gray-15-RGB: 241, 242, 243;
  --st-gray-10: #f8f8f8;
  --st-gray-10-RGB: 248, 248, 248;
  /* Primary Color Pallette. */
  --st-primary-100: #46039C;
  --st-primary-90: #5809BB;
  --st-primary-80: #6B0EE1;
  --st-primary-70: #984EFF;
  --st-primary-60: #984EFF;
  --st-primary-50: #A864FF;
  --st-primary-40: #B881FF;
  --st-primary-30: #CAA0FF;
  --st-primary-20: #E0CAFF;
  --st-primary-10: #F0E4FF;
  --st-primary: var(--st-primary-50);
  --st-primary-background-color: var(--st-white);
  --st-primary-inverse-background-color: var(--st-gray-10);
  --st-primary-inverse-text-color: var(--st-white);
  --st-primary-text-color: var(--st-gray-10);
  /* Utility Colors */
  --st-button-stroke: rgba(0, 0, 0, 0.16);
  --st-error-red: #FF7760;
  /* Layout. */
  --st-grid-unit: 8px;
  --st-grid-unit2x: calc(var(--st-grid-unit) * 2);
  --st-grid-unit3x: calc(var(--st-grid-unit) * 3);
  --st-grid-unit4x: calc(var(--st-grid-unit) * 4);
  /* Typography. */
  --st-typography-font-family: Inter, Roboto, Arial, Helvetica, sans-serif;
  --st-typography-header-font-family: var(--st-typography-font-family);
  --st-typography-header-color: var(--st-gray-100);
  --st-typography-header-font-weight: 700;
  --st-typography-header-font-size: 16px;
  --st-typography-header-line-height: 24px;
  --st-typography-header-letter-spacing: 0.03em;
  --st-typography-label-font-family: var(--st-typography-font-family);
  --st-typography-label-color: rgba(var(--st-gray-100-RGB), 0.65);
  --st-typography-label-font-weight: 400;
  --st-typography-label-font-size: 12px;
  --st-typography-label-line-height: 16px;
  --st-typography-label-letter-spacing: 0.04em;
  --st-typography-body-font-family: var(--st-typography-font-family);
  --st-typography-body-color: rgba(var(--st-gray-100-RGB), 0.9);
  --st-typography-body-font-weight: 400;
  --st-typography-body-font-size: 12px;
  --st-typography-body-line-height: 16px;
  --st-typography-body-letter-spacing: 0.04em;
  --st-typography-medium-font-family: var(--st-typography-font-family);
  --st-typography-medium-color: var(--st-gray-100);
  --st-typography-medium-font-weight: 500;
  --st-typography-medium-font-size: 12px;
  --st-typography-medium-line-height: 16px;
  --st-typography-medium-letter-spacing: 0.025em;
  --st-typography-bold-font-family: var(--st-typography-font-family);
  --st-typography-bold-color: var(--st-gray-100);
  --st-typography-bold-font-weight: 700;
  --st-typography-bold-font-size: 12px;
  --st-typography-bold-line-height: 16px;
  --st-typography-bold-letter-spacing: 0.05em;
  --st-typography-small-caps-font-family: var(--st-typography-font-family);
  --st-typography-small-caps-color: rgba(var(--st-gray-100-RGB), 0.65);
  --st-typography-small-caps-font-weight: 700;
  --st-typography-small-caps-font-size: 11px;
  --st-typography-small-caps-line-height: 16px;
  --st-typography-small-caps-letter-spacing: 0.1em;
  --st-typography-display-h1-font-family: var(--st-typography-font-family);
  --st-typography-display-h1-color: var(--st-gray-100);
  --st-typography-display-h1-font-weight: 700;
  --st-typography-display-h1-font-size: 40px;
  --st-typography-display-h1-line-height: 48px;
  --st-typography-display-h1-letter-spacing: -0.02em;
  --st-typography-display-h2-font-family: var(--st-typography-font-family);
  --st-typography-display-h2-color: var(--st-gray-100);
  --st-typography-display-h2-font-weight: 700;
  --st-typography-display-h2-font-size: 32px;
  --st-typography-display-h2-line-height: 40px;
  --st-typography-display-h2-letter-spacing: -0.005em;
  --st-typography-display-h3-font-family: var(--st-typography-font-family);
  --st-typography-display-h3-color: var(--st-gray-100);
  --st-typography-display-h3-font-weight: 600;
  --st-typography-display-h3-font-size: 24px;
  --st-typography-display-h3-line-height: 32px;
  --st-typography-display-h3-letter-spacing: 0;
  --st-typography-display-body-font-family: var(--st-typography-font-family);
  --st-typography-display-body-color: var(--st-gray-100);
  --st-typography-display-body-font-weight: 400;
  --st-typography-display-body-font-size: 16px;
  --st-typography-display-body-line-height: 24px;
  --st-typography-display-body-letter-spacing: 0.01em;
  /* Button. */
  --st-button-disabled-background-color: var(--st-gray-20);
  --st-button-disabled-color: var(--st-gray-40);
  --st-button-font-family: var(--st-typography-font-family);
  --st-button-font-weight: var(--st-typography-medium-font-weight);
  --st-button-font-size: var(--st-typography-medium-font-size);
  --st-button-line-height: var(--st-typography-medium-line-height);
  --st-button-letter-spacing: var(--st-typography-medium-letter-spacing);
  --st-button-primary-background-color: var(--st-primary-80);
  --st-button-primary-border: 0;
  --st-button-primary-color: rgba(var(--st-gray-10-RGB), 0.96);
  --st-button-primary-hover-background-color: var(--st-primary-90);
  --st-button-secondary-background-color: var(--st-gray-15);
  --st-button-secondary-border: none;
  --st-button-secondary-color: rgba(var(--st-gray-20), 0.96);
  --st-button-secondary-hover-background-color: var(--st-gray-20);
  --st-button-tertiary-color: rgba(var(--st-gray-80-RGB), 0.96);
  --st-button-tertiary-hover-background-color: var(--st-gray-10);
  --st-button-icon-color: var(--st-gray-80);
  --st-button-icon-hover-background-color: var(--st-gray-10);
  --st-button-icon-min-width: var(--st-grid-unit3x);
  /* Input. */
  --st-input-background-color: var(--st-gray-20);
  --st-input-color: var(--st-gray-80);
  --st-input-error-background-color: rgb(255 119 96 / 20%);
  --st-input-font-family: var(--st-typography-font-family);
  --st-input-font-weight: var(--st-typography-body-font-weight);
  --st-input-font-size: var(--st-typography-body-font-size);
  --st-input-icon-color: var(--st-gray-40);
  --st-input-line-height: var(--st-typography-body-line-height);
  --st-input-letter-spacing: var(--st-typography-body-letter-spacing);
  --st-input-padding: 3px 6px;
  --st-input-placeholder-color: var(--st-gray-50);
  --st-input-warning-background-color: rgb(253 180 98 / 20%);
  /* Select. */
  --st-select-background: var(--st-white);
  --st-select-border: 1px solid var(--st-button-stroke);
  --st-select-color: var(--st-gray-80);
  --st-select-error-background-color: rgb(255 119 96 / 20%);
  --st-select-font-family: var(--st-typography-font-family);
  --st-select-font-weight: var(--st-typography-label-font-weight);
  --st-select-font-size: var(--st-typography-label-font-size);
  --st-select-height: 24px;
  --st-select-hover-background: var(--st-gray-10);
  --st-select-letter-spacing: var(--st-typography-label-letter-spacing);
  --st-select-line-height: var(--st-typography-label-line-height);
  /* Table. */
  --st-table-th-padding: var(--st-grid-unit);
  --st-table-th-background: var(--st-gray-10);
  --st-table-th-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.09);
  --st-table-th-color: var(--st-gray-100);
  --st-table-th-font-family: var(--st-typography-font-family);
  --st-table-th-font-weight: var(--st-typography-medium-font-weight);
  --st-table-th-font-size: var(--st-typography-medium-font-size);
  --st-table-th-line-height: var(--st-typography-medium-line-height);
  --st-table-th-letter-spacing: var(--st-typography-medium-letter-spacing);
  --st-table-td-padding: var(--st-grid-unit);
  --st-table-td-background: var(--st-white);
  --st-table-td-box-shadow: inset 0px -1px 0px #E3E7EB;
  --st-table-td-color: var(--st-gray-100);
  --st-table-td-font-family: var(--st-typography-font-family);
  --st-table-td-font-weight: var(--st-typography-body-font-weight);
  --st-table-td-font-size: var(--st-typography-body-font-size);
  --st-table-td-line-height: var(--st-typography-body-line-height);
  --st-table-td-letter-spacing: var(--st-typography-body-letter-spacing);
  /* Card (not represented in design system). */
  --st-card-border: 1px solid rgb(0 0 0 / 12.5%);
}

.st-button {
  color: var(--st-button-primary-color);
  font-family: var(--st-button-font-family);
  font-size: var(--st-button-font-size);
  font-weight: var(--st-button-font-weight);
  line-height: var(--st-button-line-height);
  letter-spacing: var(--st-button-letter-spacing);
  user-select: none;
  align-items: center;
  background-color: var(--st-button-primary-background-color);
  border: var(--st-button-primary-border);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  height: var(--st-grid-unit3x);
  justify-content: center;
  padding: 0 var(--st-grid-unit);
}
.st-button.secondary {
  background-color: var(--st-button-secondary-background-color);
  border: var(--st-button-secondary-border);
  color: var(--st-button-secondary-color);
}
.st-button.secondary:hover:not([disabled]) {
  background-color: var(--st-button-secondary-hover-background-color);
}
.st-button.tertiary {
  background-color: transparent;
  border: 0;
  color: var(--st-button-tertiary-color);
}
.st-button.tertiary:hover:not([disabled]) {
  background-color: var(--st-button-tertiary-hover-background-color);
}
.st-button:disabled {
  background-color: var(--st-button-disabled-background-color);
  border: 0;
  color: var(--st-button-disabled-color);
  cursor: not-allowed;
  opacity: 80%;
}
.st-button:hover:not([disabled]) {
  background-color: var(--st-button-primary-hover-background-color);
}
.st-button.icon {
  background-color: transparent;
  color: var(--st-button-icon-color);
  padding: 0;
  border: 0;
  min-width: var(--st-button-icon-min-width);
}
.st-button.icon:hover {
  background-color: var(--st-button-icon-hover-background-color);
}

.st-card {
  border: var(--st-card-border);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}

.st-input {
  font-family: var(--st-input-font-family);
  font-size: var(--st-input-font-size);
  font-weight: var(--st-input-font-weight);
  line-height: var(--st-input-line-height);
  letter-spacing: var(--st-input-letter-spacing);
  background-color: var(--st-input-background-color);
  border: 1px solid var(--st-input-background-color);
  border-radius: 4px;
  color: var(--st-input-color);
  padding: var(--st-input-padding);
}
.st-input::placeholder {
  color: var(--st-input-placeholder-color);
}
.st-input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.st-input.error {
  background-color: var(--st-input-error-background-color);
  border: 1px solid var(--st-red);
  color: var(--st-red);
}
.st-input.error::placeholder {
  color: var(--st-red);
}
.st-input.error:disabled {
  background-color: var(--st-input-disabled-background-color);
  border: 1px solid var(--st-red);
  color: var(--st-input-disabled-color);
  cursor: not-allowed;
}
.st-input.error:disabled::placeholder {
  color: var(--st-input-disabled-color);
}
.st-input.warning {
  background-color: var(--st-input-warning-background-color);
  border: 1px solid var(--st-orange);
  color: var(--st-orange);
}
.st-input.warning::placeholder {
  color: var(--st-orange);
}
.st-input.warning:disabled {
  background-color: var(--st-input-disabled-background-color);
  border: 1px solid var(--st-orange);
  color: var(--st-input-disabled-color);
  cursor: not-allowed;
}
.st-input.warning:disabled::placeholder {
  color: var(--st-input-disabled-color);
}

.st-select {
  background: var(--st-select-background);
  border: var(--st-select-border);
  border-radius: 4px;
  color: var(--st-select-color);
  cursor: pointer;
  font-family: var(--st-select-font-family);
  font-size: var(--st-select-font-size);
  font-weight: var(--st-select-font-weight);
  height: var(--st-select-height);
  letter-spacing: var(--st-select-letter-spacing);
  line-height: var(--st-select-line-height);
}
.st-select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.st-select:hover:not([disabled], .error) {
  background: var(--st-select-hover-background);
}
.st-select.error {
  background-color: var(--st-select-error-background-color);
  border: 1px solid var(--st-red);
  color: var(--st-red);
}

.st-table {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.st-table th {
  padding: var(--st-table-th-padding);
  background: var(--st-table-th-background);
  box-shadow: var(--st-table-th-box-shadow);
  font-family: var(--st-table-th-font-family);
  font-size: var(--st-table-th-font-size);
  font-weight: var(--st-table-th-font-weight);
  line-height: var(--st-table-th-line-height);
  letter-spacing: var(--st-table-th-letter-spacing);
}
.st-table tr {
  width: 100%;
  flex: 1;
  display: flex;
}
.st-table th,
.st-table td {
  width: 100%;
  text-align: left;
  vertical-align: top;
}
.st-table td {
  padding: var(--st-table-td-padding);
  box-shadow: var(--st-table-td-box-shadow);
  font-family: var(--st-table-td-font-family);
  font-size: var(--st-table-td-font-size);
  font-weight: var(--st-table-td-font-weight);
  line-height: var(--st-table-td-line-height);
  letter-spacing: var(--st-table-td-letter-spacing);
}

.st-typography-header {
  font-family: var(--st-typography-header-font-family);
  color: var(--st-typography-header-color);
  font-weight: var(--st-typography-header-font-weight);
  font-size: var(--st-typography-header-font-size);
  line-height: var(--st-typography-header-line-height);
  letter-spacing: var(--st-typography-header-letter-spacing);
}

.st-typography-label {
  font-family: var(--st-typography-label-font-family);
  color: var(--st-typography-label-color);
  font-weight: var(--st-typography-label-font-weight);
  font-size: var(--st-typography-label-font-size);
  line-height: var(--st-typography-label-line-height);
  letter-spacing: var(--st-typography-label-letter-spacing);
}

.st-typography-body {
  font-family: var(--st-typography-body-font-family);
  color: var(--st-typography-body-color);
  font-weight: var(--st-typography-body-font-weight);
  font-size: var(--st-typography-body-font-size);
  line-height: var(--st-typography-body-line-height);
  letter-spacing: var(--st-typography-body-letter-spacing);
}

.st-typography-medium {
  font-family: var(--st-typography-medium-font-family);
  color: var(--st-typography-medium-color);
  font-weight: var(--st-typography-medium-font-weight);
  font-size: var(--st-typography-medium-font-size);
  line-height: var(--st-typography-medium-line-height);
  letter-spacing: var(--st-typography-medium-letter-spacing);
}

.st-typography-bold {
  font-family: var(--st-typography-bold-font-family);
  color: var(--st-typography-bold-color);
  font-weight: var(--st-typography-bold-font-weight);
  font-size: var(--st-typography-bold-font-size);
  line-height: var(--st-typography-bold-line-height);
  letter-spacing: var(--st-typography-bold-letter-spacing);
}

.st-typography-small-caps {
  font-family: var(--st-typography-small-caps-font-family);
  text-transform: uppercase;
  color: var(--st-typography-small-caps-color);
  font-weight: var(--st-typography-small-caps-font-weight);
  font-size: var(--st-typography-small-caps-font-size);
  line-height: var(--st-typography-small-caps-line-height);
  letter-spacing: var(--st-typography-small-caps-letter-spacing);
}

/* M20 GDS Display Font Definitions */
.st-typography-displayH1 {
  font-family: var(--st-typography-display-h1-font-family);
  color: var(--st-typography-display-h1-color);
  font-weight: var(--st-typography-display-h1-font-weight);
  font-size: var(--st-typography-display-h1-font-size);
  line-height: var(--st-typography-display-h1-line-height);
  letter-spacing: var(--st-typography-display-h1-letter-spacing);
}

.st-typography-displayH2 {
  font-family: var(--st-typography-display-h2-font-family);
  color: var(--st-typography-display-h2-color);
  font-weight: var(--st-typography-display-h2-font-weight);
  font-size: var(--st-typography-display-h2-font-size);
  line-height: var(--st-typography-display-h2-line-height);
  letter-spacing: var(--st-typography-display-h2-letter-spacing);
}

.st-typography-displayH3 {
  font-family: var(--st-typography-display-h3-font-family);
  color: var(--st-typography-display-h3-color);
  font-weight: var(--st-typography-display-h3-font-weight);
  font-size: var(--st-typography-display-h3-font-size);
  line-height: var(--st-typography-display-h3-line-height);
  letter-spacing: var(--st-typography-display-h3-letter-spacing);
}

.st-typography-displayBody {
  font-family: var(--st-typography-display-body-font-family);
  color: var(--st-typography-display-body-color);
  font-weight: var(--st-typography-display-body-font-weight);
  font-size: var(--st-typography-display-body-font-size);
  line-height: var(--st-typography-display-body-line-height);
  letter-spacing: var(--st-typography-display-body-letter-spacing);
}

/* Utility Classes */
.st-typography-noSelect {
  user-select: none;
}

.st-typography-capitalize {
  text-transform: capitalize;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.st-spacing--vertical--1 {
  height: var(--st-grid-unit);
}

.st-spacing--vertical--2 {
  height: var(--st-grid-unit2x);
}

.st-spacing--vertical--3 {
  height: var(--st-grid-unit3x);
}

.st-spacing--vertical--4 {
  height: var(--st-grid-unit4x);
}

.st-theme-dark {
  --st-primary-100: #01579b;
  --st-primary-90: #0277bd;
  --st-primary-80: #0288d1;
  --st-primary-70: #039be5;
  --st-primary-60: #03a9f4;
  --st-primary-50: #29b6f6;
  --st-primary-40: #4fc3f7;
  --st-primary-30: #81d4fa;
  --st-primary-20: #b3e5fc;
  --st-primary-10: #e1f5fe;
  --st-primary: var(--st-primary-50);
  --st-primary-background-color: var(--st-white);
  --st-primary-inverse-background-color: var(--st-gray-10);
  --st-primary-inverse-text-color: var(--st-white);
  --st-primary-text-color: var(--st-gray-10);
  /* Typography. */
  --st-typography-header-color: var(--st-gray-10);
  --st-typography-label-color: rgba(var(--st-gray-10-RGB), 0.65);
  --st-typography-body-color: rgba(var(--st-gray-10-RGB), 0.9);
  --st-typography-medium-color: var(--st-gray-10);
  --st-typography-bold-color: var(--st-gray-10);
  --st-typography-small-caps-color: rgba(var(--st-gray-10-RGB), 0.65);
  --st-typography-display-h1-color: var(--st-gray-10);
  --st-typography-display-h2-color: var(--st-gray-10);
  --st-typography-display-h3-color: var(--st-gray-10);
  --st-typography-display-body-color: var(--st-gray-10);
  /* TODO Button. */
  /* Input. */
  --st-input-background-color: var(--st-gray-70);
  --st-input-color: var(--st-gray-10);
  --st-input-placeholder-color: var(--st-gray-40);
  /* Select. */
  --st-select-background: var(--st-gray-70);
  --st-select-color: var(--st-gray-30);
  --st-select-hover-background: var(--st-gray-60);
  /* Card (not represented in design system). */
  --st-card-border: 1px solid rgb(255 255 255 / 12.5%);
}
