.st-input-group {
  align-items: center;
  display: flex;
  position: relative;
}

.st-input-group > .left {
  left: 5px;
  position: absolute;
}

.st-input-group > .right {
  position: absolute;
  right: 5px;
}
