.st-button {
  color: var(--st-button-primary-color, #fff);
  font-family: var(--st-button-font-family);
  font-size: var(--st-button-font-size);
  font-weight: var(--st-button-font-weight);
  line-height: var(--st-button-line-height);
  letter-spacing: var(--st-button-letter-spacing);
  user-select: none;
  align-items: center;
  background-color: var(--st-button-primary-background-color, #0d1667);
  border: var(--st-button-primary-border, 0);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  height: var(--st-grid-unit3x);
  justify-content: center;
  padding: 0 var(--st-grid-unit);

  &.large {
    padding: 0 var(--st-grid-unit2x);
    height: var(--st-grid-unit4x);
    font-size: 16px;
    line-height: 16px;
  }

  &.secondary {
    background-color: var(--st-button-secondary-background-color, #fff);
    border: var(--st-button-secondary-border, solid 1px #5c6bc0);
    color: var(--st-button-secondary-color, #283593);

    &:hover {
      &:not([disabled]) {
        background-color: var(--st-button-secondary-hover-background-color, #e8eaf6);
      }
    }
  }

  &.tertiary {
    background-color: transparent;
    border: 0;
    color: var(--st-button-tertiary-color, #283593);

    &:hover {
      &:not([disabled]) {
        background-color: var(--st-button-tertiary-hover-background-color, #e8eaf6);
      }
    }
  }

  &:disabled {
    background-color: var(--st-button-disabled-background-color, #ebecec);
    border: 0;
    color: var(--st-button-disabled-color, #bcbcbc);
    cursor: not-allowed;
    opacity: 80%;
  }

  &:focus {
    // TODO generalize box shadow focus
    box-shadow: 0 0 0 4px var(--st-button-focus-color, #4fa1ff);
    outline: 0;
  }

  &:hover {
    &:not([disabled]) {
      background-color: var(--st-button-primary-hover-background-color, #283593);
    }
  }

  &-icon {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    outline: 0;
    padding: 0;
  }
}

