@use 'mixins/input';
@use 'mixins/select';

.st-fieldset {
  align-items: center;
  border: 0;
  display: inline-flex;
  margin: 0;
  padding: 0;
  position: relative;

  & .st-legend {
    margin: 0;
    padding: 0;
  }

  &:disabled {
    & i {
      color: var(--st-fieldset-icon-disabled-color, #bec0c2);
    }
  }

  &.error {
    & i {
      color: var(--st-red, #ff7760);
    }

    & .st-legend {
      color: var(--st-red, #ff7760);
    }

    & .st-input {
      @include input.st-input-error;
    }

    & .st-select {
      @include select.st-select-error;
    }
  }

  &.warning {
    & i {
      color: var(--st-orange, #fdb462);
    }

    & .st-legend {
      color: var(--st-orange, #fdb462);
    }

    & .st-input {
      @include input.st-input-warning;
    }
  }

  & i {
    color: var(--st-fieldset-icon-color, #bcbcbc);
  }

  & > .left {
    left: 5px;
    position: absolute;
  }

  & > .right {
    position: absolute;
    right: 5px;
  }
}
