.st-input-group {
  align-items: center;
  display: flex;
  position: relative;

  & > .left {
    left: 5px;
    position: absolute;
  }

  & > .right {
    position: absolute;
    right: 5px;
  }
}
