@use 'mixins/input';

.st-input {
  background-color: var(--st-input-background-color, #ebecec);
  border: 1px solid var(--st-input-background-color, #ebecec);
  border-radius: 4px;
  color: var(--st-input-color, #293137);
  font-family: var(--st-input-font-family, Inter);
  font-size: var(--st-input-font-size, 12px);
  font-style: normal;
  font-weight: 500;
  height: 24px;
  letter-spacing: 0.04em;
  line-height: 16px;
  min-width: var(--st-input-min-width, 60px);

  &::placeholder {
    color: var(--st-input-placeholder-color, #969696);
  }

  &:disabled {
    background-color: var(--st-input-disabled-background-color, #f8f8f8);
    border: 1px solid var(--st-input-disabled-background-color, #f8f8f8);
    color: var(--st-input-disabled-color, #969696);
    cursor: not-allowed;

    &::placeholder {
      color: var(--st-input-disabled-color, #969696);
    }
  }

  &.error {
    @include input.st-input-error;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--st-input-focus-color, #4fa1ff);
    outline: 0;
  }

  &.warning {
    @include input.st-input-warning
  }
}
