@use 'mixins/input';

.st-input {
  font-family: var(--st-input-font-family);
  font-size: var(--st-input-font-size);
  font-weight: var(--st-input-font-weight);
  line-height: var(--st-input-line-height);
  letter-spacing: var(--st-input-letter-spacing);
  background-color: var(--st-input-background-color);
  border: 1px solid var(--st-input-background-color);
  border-radius: 4px;
  color: var(--st-input-color);
  padding: var(--st-input-padding);

  &::placeholder {
    color: var(--st-input-placeholder-color);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.error {
    @include input.st-input-error;
  }

  &.warning {
    @include input.st-input-warning
  }
}
