:root {
  /* Neutral */
  --st-neutral-50: #fafafa;
  --st-neutral-100: #f5f5f5;
  --st-neutral-200: #e5e5e5;
  --st-neutral-300: #d4d4d4;
  --st-neutral-400: #a3a3a3;
  --st-neutral-500: #64748b;
  --st-neutral-600: #475569;
  --st-neutral-700: #334155;
  --st-neutral-800: #1e293b;
  --st-neutral-900: #0f172a;
  --st-neutral-950: #020617;

  /* Red */
  --st-red-50: #fef2f2;
  --st-red-100: #fee2e2;
  --st-red-200: #fecaca;
  --st-red-300: #fca5a5;
  --st-red-400: #f87171;
  --st-red-500: #ef4444;
  --st-red-600: #dc2626;
  --st-red-700: #b91c1c;
  --st-red-800: #991b1b;
  --st-red-900: #7f1d1d;
  --st-red-950: #450a0a;

  /* Yellow */
  --st-yellow-50: #fefce8;
  --st-yellow-100: #fef9c3;
  --st-yellow-200: #fef08a;
  --st-yellow-300: #fde047;
  --st-yellow-400: #facc15;
  --st-yellow-500: #eab308;
  --st-yellow-600: #ca8a04;
  --st-yellow-700: #a16207;
  --st-yellow-800: #854d0e;
  --st-yellow-900: #713f12;
  --st-yellow-950: #422006;

  /* Green */
  --st-green-50: #f0fdf4;
  --st-green-100: #dcfce7;
  --st-green-200: #bbf7d0;
  --st-green-300: #86efac;
  --st-green-400: #4ade80;
  --st-green-500: #22c55e;
  --st-green-600: #16a34a;
  --st-green-700: #15803d;
  --st-green-800: #166534;
  --st-green-900: #14532d;
  --st-green-950: #052e16;

  /* Accent */
  --st-accent-50: #eff6ff;
  --st-accent-100: #dbeafe;
  --st-accent-200: #bfdbfe;
  --st-accent-300: #93c5fd;
  --st-accent-400: #60a5fa;
  --st-accent-500: #3b82f6;
  --st-accent-600: #2563eb;
  --st-accent-700: #1d4ed8;
  --st-accent-800: #1e40af;
  --st-accent-900: #1e3a8a;
  --st-accent-950: #172554;
}
