@use 'mixins/select';

.st-select {
  background: var(--st-select-background);
  border: var(--st-select-border);
  border-radius: 4px;
  color: var(--st-select-color);
  cursor: pointer;
  font-family: var(--st-select-font-family);
  font-size: var(--st-select-font-size);
  font-weight: var(--st-select-font-weight);
  line-height: var(--st-select-line-height);
  letter-spacing: var(--st-select-letter-spacing);
  height: 24px;

  &:disabled {
    background: var(--st-select-disabled-background);
    color: var(--st-select-disabled-color);
    cursor: not-allowed;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--st-select-focus-color);
    outline: 0;
  }

  &:hover {
    &:not([disabled], .error) {
      background: var(--st-select-hover-background);
    }
  }

  &.error {
    @include select.st-select-error;
  }
}
