html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Sans-serif Font Definitions */
.st-typography-header {
  font-family: var(--st-typography-header-font-family);
  font-weight: var(--st-typography-header-font-weight);
  font-size: var(--st-typography-header-font-size);
  line-height: var(--st-typography-header-line-height);
  letter-spacing: var(--st-typography-header-letter-spacing);
}

.st-typography-label {
  font-family: var(--st-typography-label-font-family);
  font-weight: var(--st-typography-label-font-weight);
  font-size: var(--st-typography-label-font-size);
  line-height: var(--st-typography-label-line-height);
  letter-spacing: var(--st-typography-label-letter-spacing);
}

.st-typography-body {
  font-family: var(--st-typography-body-font-family);
  font-weight: var(--st-typography-body-font-weight);
  font-size: var(--st-typography-body-font-size);
  line-height: var(--st-typography-body-line-height);
  letter-spacing: var(--st-typography-body-letter-spacing);
}

.st-typography-medium {
  font-family: var(--st-typography-medium-font-family);
  font-weight: var(--st-typography-medium-font-weight);
  font-size: var(--st-typography-medium-font-size);
  line-height: var(--st-typography-medium-line-height);
  letter-spacing: var(--st-typography-medium-letter-spacing);
}

.st-typography-bold {
  font-family: var(--st-typography-bold-font-family);
  font-weight: var(--st-typography-bold-font-weight);
  font-size: var(--st-typography-bold-font-size);
  line-height: var(--st-typography-bold-line-height);
  letter-spacing: var(--st-typography-bold-letter-spacing);
}

.st-typography-small-caps {
  font-family: var(--st-typography-small-caps-font-family);
  text-transform: uppercase;
  font-weight: var(--st-typography-small-caps-font-weight);
  font-size: var(--st-typography-small-caps-font-size);
  line-height: var(--st-typography-small-caps-line-height);
  letter-spacing: var(--st-typography-small-caps-letter-spacing);
}

/* Display Font Definitions */
.st-typography-displayH1 {
  font-family: var(--st-typography-display-h1-font-family);
  font-weight: var(--st-typography-display-h1-font-weight);
  font-size: var(--st-typography-display-h1-font-size);
  line-height: var(--st-typography-display-h1-line-height);
  letter-spacing: var(--st-typography-display-h1-letter-spacing);
}

.st-typography-displayH2 {
  font-family: var(--st-typography-display-h2-font-family);
  font-weight: var(--st-typography-display-h2-font-weight);
  font-size: var(--st-typography-display-h2-font-size);
  line-height: var(--st-typography-display-h2-line-height);
  letter-spacing: var(--st-typography-display-h2-letter-spacing);
}

.st-typography-displayH3 {
  font-family: var(--st-typography-display-h3-font-family);
  font-weight: var(--st-typography-display-h3-font-weight);
  font-size: var(--st-typography-display-h3-font-size);
  line-height: var(--st-typography-display-h3-line-height);
  letter-spacing: var(--st-typography-display-h3-letter-spacing);
}

.st-typography-displayBody {
  font-family: var(--st-typography-display-body-font-family);
  font-weight: var(--st-typography-display-body-font-weight);
  font-size: var(--st-typography-display-body-font-size);
  line-height: var(--st-typography-display-body-line-height);
  letter-spacing: var(--st-typography-display-body-letter-spacing);
}

/* Mono Font Definitions */
.st-typography-mono-header {
  font-family: var(--st-typography-mono-header-font-family);
  font-weight: var(--st-typography-mono-header-font-weight);
  font-size: var(--st-typography-mono-header-font-size);
  line-height: var(--st-typography-mono-header-line-height);
  letter-spacing: var(--st-typography-mono-header-letter-spacing);
}

.st-typography-mono-label {
  font-family: var(--st-typography-mono-label-font-family);
  font-weight: var(--st-typography-mono-label-font-weight);
  font-size: var(--st-typography-mono-label-font-size);
  line-height: var(--st-typography-mono-label-line-height);
  letter-spacing: var(--st-typography-mono-label-letter-spacing);
}

.st-typography-mono-body {
  font-family: var(--st-typography-mono-body-font-family);
  font-weight: var(--st-typography-mono-body-font-weight);
  font-size: var(--st-typography-mono-body-font-size);
  line-height: var(--st-typography-mono-body-line-height);
  letter-spacing: var(--st-typography-mono-body-letter-spacing);
}

.st-typography-mono-medium {
  font-family: var(--st-typography-mono-medium-font-family);
  font-weight: var(--st-typography-mono-medium-font-weight);
  font-size: var(--st-typography-mono-medium-font-size);
  line-height: var(--st-typography-mono-medium-line-height);
  letter-spacing: var(--st-typography-mono-medium-letter-spacing);
}

.st-typography-mono-bold {
  font-family: var(--st-typography-mono-bold-font-family);
  font-weight: var(--st-typography-mono-bold-font-weight);
  font-size: var(--st-typography-mono-bold-font-size);
  line-height: var(--st-typography-mono-bold-line-height);
  letter-spacing: var(--st-typography-mono-bold-letter-spacing);
}

.st-typography-mono-small-caps {
  font-family: var(--st-typography-mono-small-caps-font-family);
  text-transform: uppercase;
  font-weight: var(--st-typography-mono-small-caps-font-weight);
  font-size: var(--st-typography-mono-small-caps-font-size);
  line-height: var(--st-typography-mono-small-caps-line-height);
  letter-spacing: var(--st-typography-mono-small-caps-letter-spacing);
}

/* Utility Classes */
.st-typography-noSelect {
  user-select: none;
}

.st-typography-capitalize {
  text-transform: capitalize;
}

.st-typography-tabular {
  font-feature-settings: 'tnum' 0;
}
