:root {
  /* Emphasis Colors. */
  --st-black: #000;
  --st-blue: #4fa1ff;
  --st-green: #1aff66;
  --st-orange: #fdb462;
  --st-red: #ff7760;
  --st-white: #fff;
  --st-yellow: #ffdd5c;
  --st-yellow-light: #ffc93e;

  /* Gray Color Pallette. */

  /* When used as text, these are accessible on white and the lightest gray (#F8F8F8). */
  --st-gray-100: #1b1d1e;
  --st-gray-100-RGB: 27, 29, 30;
  --st-gray-90: #1f2223;
  --st-gray-90-RGB: 31, 34, 35;
  --st-gray-80: #293137;
  --st-gray-80-RGB: 41, 49, 55;
  --st-gray-70: #444c50;
  --st-gray-70-RGB: 68, 76, 80, 1;
  --st-gray-60: #545f64;
  --st-gray-60-RGB: 84, 95, 100;

  /* When used as text, these are accessible on black and the darkest gray (#1B1D1E). */
  --st-gray-50: #969696;
  --st-gray-50-RGB: 150, 150, 150;
  --st-gray-40: #bcbcbc;
  --st-gray-40-RGB: 188, 188, 188;
  --st-gray-30: #bec0c2;
  --st-gray-30-RGB: 190, 192, 194;
  --st-gray-20: #ebecec;
  --st-gray-20-RGB: 235, 236, 236;
  --st-gray-15: #f1f2f3;
  --st-gray-15-RGB: 241, 242, 243;
  --st-gray-10: #f8f8f8;
  --st-gray-10-RGB: 248, 248, 248;

  /* Primary Color Pallette. */
  --st-primary-100: #0d1667;
  --st-primary-90: #1a237e;
  --st-primary-80: #283593;
  --st-primary-70: #303f9f;
  --st-primary-60: #3949ab;
  --st-primary-50: #5c6bc0;
  --st-primary-40: #7986cb;
  --st-primary-30: #9fa8da;
  --st-primary-20: #c5cae9;
  --st-primary-10: #e8eaf6;
  --st-primary: var(--st-primary-50);
  --st-primary-background-color: var(--st-white);
  --st-primary-inverse-background-color: var(--st-gray-10);
  --st-primary-inverse-text-color: var(--st-white);
  --st-primary-text-color: var(--st-gray-10);

  /* Layout. */
  --st-grid-unit: 8px;
  --st-grid-unit2x: calc(var(--st-grid-unit) * 2);
  --st-grid-unit3x: calc(var(--st-grid-unit) * 3);
  --st-grid-unit4x: calc(var(--st-grid-unit) * 4);

  /* Typography. */
  --st-typography-font-family: Inter, Roboto, Arial, Helvetica, sans-serif;

  --st-typography-header-font-family: var(--st-typography-font-family);
  --st-typography-header-color: var(--st-gray-100);
  --st-typography-header-font-weight: 700;
  --st-typography-header-font-size: 16px;
  --st-typography-header-line-height: 24px;
  --st-typography-header-letter-spacing: 0.03em;

  --st-typography-label-font-family: var(--st-typography-font-family);
  --st-typography-label-color: rgba(var(--st-gray-100-RGB), 0.65);
  --st-typography-label-font-weight: 400;
  --st-typography-label-font-size: 12px;
  --st-typography-label-line-height: 16px;
  --st-typography-label-letter-spacing: 0.04em;

  --st-typography-body-font-family: var(--st-typography-font-family);
  --st-typography-body-color: rgba(var(--st-gray-100-RGB), 0.9);
  --st-typography-body-font-weight: 400;
  --st-typography-body-font-size: 12px;
  --st-typography-body-line-height: 16px;
  --st-typography-body-letter-spacing: 0.04em;

  --st-typography-medium-font-family: var(--st-typography-font-family);
  --st-typography-medium-color: var(--st-gray-100);
  --st-typography-medium-font-weight: 500;
  --st-typography-medium-font-size: 12px;
  --st-typography-medium-line-height: 16px;
  --st-typography-medium-letter-spacing: 0.025em;

  --st-typography-bold-font-family: var(--st-typography-font-family);
  --st-typography-bold-color: var(--st-gray-100);
  --st-typography-bold-font-weight: 700;
  --st-typography-bold-font-size: 12px;
  --st-typography-bold-line-height: 16px;
  --st-typography-bold-letter-spacing: 0.05em;

  --st-typography-small-caps-font-family: var(--st-typography-font-family);
  --st-typography-small-caps-color: rgba(var(--st-gray-100-RGB), 0.65);
  --st-typography-small-caps-font-weight: 700;
  --st-typography-small-caps-font-size: 11px;
  --st-typography-small-caps-line-height: 16px;
  --st-typography-small-caps-letter-spacing: 0.1em;

  --st-typography-displayH1-font-family: var(--st-typography-font-family);
  --st-typography-displayH1-color: var(--st-gray-100);
  --st-typography-displayH1-font-weight: 700;
  --st-typography-displayH1-font-size: 40px;
  --st-typography-displayH1-line-height: 48px;
  --st-typography-displayH1-letter-spacing: -0.02em;

  --st-typography-displayH2-font-family: var(--st-typography-font-family);
  --st-typography-displayH2-color: var(--st-gray-100);
  --st-typography-displayH2-font-weight: 700;
  --st-typography-displayH2-font-size: 32px;
  --st-typography-displayH2-line-height: 40px;
  --st-typography-displayH2-letter-spacing: -0.005em;

  --st-typography-displayH3-font-family: var(--st-typography-font-family);
  --st-typography-displayH3-color: var(--st-gray-100);
  --st-typography-displayH3-font-weight: 600;
  --st-typography-displayH3-font-size: 24px;
  --st-typography-displayH3-line-height: 32px;
  --st-typography-displayH3-letter-spacing: 0;

  --st-typography-displayBody-font-family: var(--st-typography-font-family);
  --st-typography-displayBody-color: var(--st-gray-100);
  --st-typography-displayBody-font-weight: 400;
  --st-typography-displayBody-font-size: 16px;
  --st-typography-displayBody-line-height: 24px;
  --st-typography-displayBody-letter-spacing: 0.01em;

  /* Button. */
  --st-button-disabled-background-color: var(--st-gray-20);
  --st-button-disabled-color: var(--st-gray-40);
  --st-button-font-family: var(--st-typography-font-family);
  --st-button-font-weight: var(--st-typography-medium-font-weight);
  --st-button-font-size: var(--st-typography-medium-font-size);
  --st-button-line-height: var(--st-typography-medium-line-height);
  --st-button-letter-spacing: var(--st-typography-medium-letter-spacing);
  --st-button-primary-background-color: var(--st-primary-80);
  --st-button-primary-border: 0;
  --st-button-primary-color: rgba(var(--st-gray-10-RGB), 0.96);
  --st-button-primary-hover-background-color: var(--st-primary-70);
  --st-button-secondary-background-color: var(--st-gray-10);
  --st-button-secondary-border: solid 1px var(--st-gray-30);
  --st-button-secondary-color: rgba(var(--st-gray-90-RGB), 0.96);
  --st-button-secondary-hover-background-color: var(--st-white);
  --st-button-tertiary-color: rgba(var(--st-gray-90-RGB), 0.96);
  --st-button-tertiary-hover-background-color: var(--st-gray-15);

  /* Input. */
  --st-input-background-color: var(--st-gray-20);
  --st-input-color: var(--st-gray-80);
  --st-input-disabled-background-color: var(--st-gray-10);
  --st-input-disabled-color: var(--st-gray-50);
  --st-input-error-background-color: rgb(255 119 96 / 20%);
  --st-input-font-family: var(--st-typography-font-family);
  --st-input-font-weight: var(--st-typography-body-font-weight);
  --st-input-font-size: var(--st-typography-body-font-size);
  --st-input-icon-color: var(--st-gray-40);
  --st-input-icon-disabled-color: var(--st-gray-30);
  --st-input-line-height: var(--st-typography-body-line-height);
  --st-input-letter-spacing: var(--st-typography-body-letter-spacing);
  --st-input-padding: 3px 6px;
  --st-input-placeholder-color: var(--st-gray-50);
  --st-input-warning-background-color: rgb(253 180 98 / 20%);

  /* Select. */
  --st-select-background: var(--st-gray-20);
  --st-select-border: 1px solid var(--st-gray-30);
  --st-select-color: var(--st-gray-80);
  --st-select-disabled-background: var(--st-gray-20);
  --st-select-disabled-color: var(--st-gray-50);
  --st-select-error-background-color: rgb(255 119 96 / 20%);
  --st-select-font-family: var(--st-typography-font-family);
  --st-select-font-weight: var(--st-typography-label-font-weight);
  --st-select-font-size: var(--st-typography-label-font-size);
  --st-select-height: 24px;
  --st-select-hover-background: #e6e6e6;
  --st-select-letter-spacing: var(--st-typography-label-letter-spacing);
  --st-select-line-height: var(--st-typography-label-line-height);
}
