body {
  background: var(--st-neutral-white-black);
  color: var(--st-neutral-content-primary);
  display: flex;
  flex-direction: column;
  gap: var(--st-grid-unit2x);
  margin: auto;
  max-width: 1100px;
  padding: 56px;
}


.header {
  display: flex;
  flex-direction: column;
  gap: var(--st-grid-unit3x);
  margin-bottom: 24px;
}

.title {
  font-size: 60px;
  letter-spacing: -0.03em;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

section {
  padding: 1rem;
}

section > div:first-child {
  margin-bottom: 0.8rem;
}

section > div:nth-of-type(2) {
  padding-bottom: 0.24rem;
}

.color-groups {
  display: flex;
}

.color-group {
  margin-right: 60px;
}

.color-square {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}

.color-square .color {
  border: 1px solid var(--st-neutral-border-button);
  border-radius: 4px;
  height: 48px;
  width: 48px;
}

.color-square-metadata {
  margin-left: 8px;
}

.icons-container {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.icon-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.img-container {
  background-color: var(--st-neutral-bg-primary);
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 32px;
}

.st-theme-dark .img-container img {
  filter: invert(1);
}

.theme-toggle {
  margin: 1rem;
}
