body {
  display: flex;
  flex-direction: column;
  font-family: var(--st-typography-font-family);
  font-size: 16px;
  gap: var(--st-grid-unit2x);
  padding: var(--st-grid-unit2x);
}

.st-theme-dark {
  background: var(--st-gray-100);
}

section {
  padding: 1rem;
}

section > div:first-child {
  margin-bottom: 0.8rem;
}

section > div:nth-of-type(2) {
  padding-bottom: 0.24rem;
}

.color-groups {
  display: flex;
}

.color-group {
  margin-right: 60px;
}

.color-square {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}

.color-square .color {
  border: 1px solid rgb(255 255 255 / 10%);
  height: 48px;
  width: 48px;
}

.color-square-metadata {
  margin-left: 8px;
}

.icons-container {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.icon-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.img-container {
  background-color: var(--st-gray-10);
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 32px;
}

.theme-toggle {
  margin: 1rem;
}
