.st-theme-dark {
  --st-primary-100: #01579b;
  --st-primary-90: #0277bd;
  --st-primary-80: #0288d1;
  --st-primary-70: #039be5;
  --st-primary-60: #03a9f4;
  --st-primary-50: #29b6f6;
  --st-primary-40: #4fc3f7;
  --st-primary-30: #81d4fa;
  --st-primary-20: #b3e5fc;
  --st-primary-10: #e1f5fe;
  --st-primary: var(--st-primary-50);
  --st-primary-background-color: var(--st-white);
  --st-primary-inverse-background-color: var(--st-gray-10);
  --st-primary-inverse-text-color: var(--st-white);
  --st-primary-text-color: var(--st-gray-10);
  /* Typography. */
  --st-typography-header-color: var(--st-gray-10);
  --st-typography-label-color: rgba(var(--st-gray-10-RGB), 0.65);
  --st-typography-body-color: rgba(var(--st-gray-10-RGB), 0.9);
  --st-typography-medium-color: var(--st-gray-10);
  --st-typography-bold-color: var(--st-gray-10);
  --st-typography-small-caps-color: rgba(var(--st-gray-10-RGB), 0.65);
  --st-typography-display-h1-color: var(--st-gray-10);
  --st-typography-display-h2-color: var(--st-gray-10);
  --st-typography-display-h3-color: var(--st-gray-10);
  --st-typography-display-body-color: var(--st-gray-10);
  /* TODO Button. */
  /* Input. */
  --st-input-background-color: var(--st-gray-70);
  --st-input-color: var(--st-gray-10);
  --st-input-placeholder-color: var(--st-gray-40);
  /* Select. */
  --st-select-background: var(--st-gray-70);
  --st-select-color: var(--st-gray-30);
  --st-select-hover-background: var(--st-gray-60);
  /* Card (not represented in design system). */
  --st-card-border: 1px solid rgb(255 255 255 / 12.5%);
}
