@mixin st-input-error {
  background-color: var(--st-input-error-background-color, rgb(255 119 96 / 20%));
  border: 1px solid var(--st-red, #ff7760);
  color: var(--st-red, #ff7760);

  &::placeholder {
    color: var(--st-red, #ff7760);
  }

  &:disabled {
    background-color: var(--st-input-disabled-background-color, #f8f8f8);
    border: 1px solid var(--st-red, #ff7760);
    color: var(--st-input-disabled-color, #969696);
    cursor: not-allowed;

    &::placeholder {
      color: var(--st-input-disabled-color, #969696);
    }
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--st-red, #ff7760);
    outline: 0;
  }
}

@mixin st-input-warning {
  background-color: var(--st-input-warning-background-color, rgb(253 180 98 / 20%));
  border: 1px solid var(--st-orange, #fdb462);
  color: var(--st-orange, #fdb462);

  &::placeholder {
    color: var(--st-orange, #fdb462);
  }

  &:disabled {
    background-color: var(--st-input-disabled-background-color, #f8f8f8);
    border: 1px solid var(--st-orange, #fdb462);
    color: var(--st-input-disabled-color, #969696);
    cursor: not-allowed;

    &::placeholder {
      color: var(--st-input-disabled-color, #969696);
    }
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--st-orange, #fdb462);
    outline: 0;
  }
}
