@font-face {
  font-family: "stellar-icons";
  src: url("./stellar-icons.woff2?d42b4046046deb0bf6dea99fcaccdb77") format("woff2"),
url("./stellar-icons.woff?d42b4046046deb0bf6dea99fcaccdb77") format("woff");
}

.si,
[class^="si-"],
[class*=" si-"],
.si::before,
[class^="si-"]::before,
[class*=" si-"]::before {
  display: inline-block;
  font-family: stellar-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si,
[class^="si-"],
[class*=" si-"] {
  line-height: 0;
  vertical-align: 0;
}

.si-activity_dictionary::before { content: "\f101"; }
.si-activity_group::before { content: "\f102"; }
.si-activity::before { content: "\f103"; }
.si-arrow_down_left::before { content: "\f104"; }
.si-arrow_down_right::before { content: "\f105"; }
.si-arrow_down::before { content: "\f106"; }
.si-arrow_left::before { content: "\f107"; }
.si-arrow_right::before { content: "\f108"; }
.si-arrow_up_left::before { content: "\f109"; }
.si-arrow_up_right::before { content: "\f10a"; }
.si-arrow_up::before { content: "\f10b"; }
.si-az_el_target::before { content: "\f10c"; }
.si-bar_chart::before { content: "\f10d"; }
.si-calendar::before { content: "\f10e"; }
.si-camera_video::before { content: "\f10f"; }
.si-caret_down::before { content: "\f110"; }
.si-caret_left::before { content: "\f111"; }
.si-caret_right::before { content: "\f112"; }
.si-caret_up::before { content: "\f113"; }
.si-check::before { content: "\f114"; }
.si-chevron_down::before { content: "\f115"; }
.si-chevron_left::before { content: "\f116"; }
.si-chevron_right::before { content: "\f117"; }
.si-chevron_up::before { content: "\f118"; }
.si-close::before { content: "\f119"; }
.si-collapse::before { content: "\f11a"; }
.si-collision::before { content: "\f11b"; }
.si-color_select::before { content: "\f11c"; }
.si-contrast::before { content: "\f11d"; }
.si-cpu::before { content: "\f11e"; }
.si-crosshairs_fine::before { content: "\f11f"; }
.si-crosshairs_loose::before { content: "\f120"; }
.si-cursor_default::before { content: "\f121"; }
.si-document::before { content: "\f122"; }
.si-download::before { content: "\f123"; }
.si-drill_dark::before { content: "\f124"; }
.si-drill_light::before { content: "\f125"; }
.si-duplicate::before { content: "\f126"; }
.si-edit::before { content: "\f127"; }
.si-ellipse::before { content: "\f128"; }
.si-external_link::before { content: "\f129"; }
.si-filter::before { content: "\f12a"; }
.si-font_size::before { content: "\f12b"; }
.si-graphql::before { content: "\f12c"; }
.si-grid::before { content: "\f12d"; }
.si-hamburger::before { content: "\f12e"; }
.si-helicopter::before { content: "\f12f"; }
.si-help_outlined::before { content: "\f130"; }
.si-help::before { content: "\f131"; }
.si-home::before { content: "\f132"; }
.si-info::before { content: "\f133"; }
.si-layers::before { content: "\f134"; }
.si-letter_spacing::before { content: "\f135"; }
.si-line_height::before { content: "\f136"; }
.si-line::before { content: "\f137"; }
.si-link::before { content: "\f138"; }
.si-locate::before { content: "\f139"; }
.si-lock::before { content: "\f13a"; }
.si-M20_Hazcam::before { content: "\f13b"; }
.si-M20_MastcamZ::before { content: "\f13c"; }
.si-M20_MEDA::before { content: "\f13d"; }
.si-M20_MOXIE::before { content: "\f13e"; }
.si-M20_Navcam::before { content: "\f13f"; }
.si-M20_PIXL::before { content: "\f140"; }
.si-M20_RIMFAX::before { content: "\f141"; }
.si-M20_SHERLOC::before { content: "\f142"; }
.si-M20_SuperCam::before { content: "\f143"; }
.si-M20_WATSON::before { content: "\f144"; }
.si-maximize::before { content: "\f145"; }
.si-microscope::before { content: "\f146"; }
.si-minus::before { content: "\f147"; }
.si-mission::before { content: "\f148"; }
.si-move::before { content: "\f149"; }
.si-no_opacity::before { content: "\f14a"; }
.si-opacity::before { content: "\f14b"; }
.si-path::before { content: "\f14c"; }
.si-pen::before { content: "\f14d"; }
.si-person::before { content: "\f14e"; }
.si-pin_crossed::before { content: "\f14f"; }
.si-pin::before { content: "\f150"; }
.si-plan::before { content: "\f151"; }
.si-plus::before { content: "\f152"; }
.si-point_target::before { content: "\f153"; }
.si-polygon::before { content: "\f154"; }
.si-polyline::before { content: "\f155"; }
.si-popout::before { content: "\f156"; }
.si-proximity_target::before { content: "\f157"; }
.si-rectangle::before { content: "\f158"; }
.si-refresh::before { content: "\f159"; }
.si-region_target::before { content: "\f15a"; }
.si-remove_all::before { content: "\f15b"; }
.si-rotate_clockwise::before { content: "\f15c"; }
.si-rotate_counter_clockwise::before { content: "\f15d"; }
.si-rover_arm::before { content: "\f15e"; }
.si-rover_drive::before { content: "\f15f"; }
.si-rover::before { content: "\f160"; }
.si-ruler::before { content: "\f161"; }
.si-satellite::before { content: "\f162"; }
.si-search::before { content: "\f163"; }
.si-settings::before { content: "\f164"; }
.si-sol_latest::before { content: "\f165"; }
.si-sol::before { content: "\f166"; }
.si-sort::before { content: "\f167"; }
.si-SOX::before { content: "\f168"; }
.si-spinner::before { content: "\f169"; }
.si-star_outline::before { content: "\f16a"; }
.si-star::before { content: "\f16b"; }
.si-stroke_width::before { content: "\f16c"; }
.si-sunrise::before { content: "\f16d"; }
.si-sunset::before { content: "\f16e"; }
.si-switch::before { content: "\f16f"; }
.si-table::before { content: "\f170"; }
.si-target_group::before { content: "\f171"; }
.si-target_single::before { content: "\f172"; }
.si-text_alt::before { content: "\f173"; }
.si-text::before { content: "\f174"; }
.si-thermal::before { content: "\f175"; }
.si-three_dot::before { content: "\f176"; }
.si-timeline::before { content: "\f177"; }
.si-trash::before { content: "\f178"; }
.si-tree_leaf::before { content: "\f179"; }
.si-tree_parent::before { content: "\f17a"; }
.si-unlinked::before { content: "\f17b"; }
.si-unlock::before { content: "\f17c"; }
.si-upload::before { content: "\f17d"; }
.si-utility_wrench::before { content: "\f17e"; }
.si-visible_hide::before { content: "\f17f"; }
.si-visible_show::before { content: "\f180"; }
.si-warning::before { content: "\f181"; }
