.st-badge {
  background: var(--st-badge-background);
  border-radius: var(--st-badge-border-radius);
  color: var(--st-badge-color);
  font-family: var(--st-badge-font-family);
  font-size: var(--st-badge-font-size);
  font-weight: var(--st-badge-font-weight);
  height: var(--st-badge-height);
  letter-spacing: var(--st-badge-letter-spacing);
  line-height: var(--st-badge-line-height);
  user-select: none;
  width: max-content;
  padding: var(--st-badge-padding);
  min-width: var(--st-badge-min-width);
  min-height: var(--st-badge-min-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
