@use 'mixins/input';

.st-input {
  background-color: var(--st-input-background-color);
  border: var(--st-input-border);
  border-radius: 4px;
  color: var(--st-input-color);
  font-family: var(--st-input-font-family);
  font-size: var(--st-input-font-size);
  font-weight: var(--st-input-font-weight);
  letter-spacing: var(--st-input-letter-spacing);
  line-height: var(--st-input-line-height);
  padding: var(--st-input-padding);

  &::placeholder {
    color: var(--st-input-placeholder-color);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.error {
    @include input.st-input-error;
  }

  &.warning {
    @include input.st-input-warning;
  }
}

textarea.st-input {
  min-height: var(--st-input-textarea-min-height);
  min-width: var(--st-input-textarea-min-width);
  &.no-resize {
    resize: none;
  }
}
