.st-react-form-field {
  display: flex;

  &.st-react-form-field--horizontal {
    gap: var(--st-react-formfield-horizontal-grid-unit);
    flex-flow: row;
  }

  &.st-react-form-field--vertical {
    flex-flow: column;
    gap: var(--st-react-formfield-vertical-grid-unit);
  }
}
