@mixin st-input-error {
  background-color: var(--st-input-error-background-color);
  border: 1px solid var(--st-red);
  color: var(--st-red);

  &::placeholder {
    color: var(--st-red);
  }

  &:disabled {
    background-color: var(--st-input-disabled-background-color);
    border: 1px solid var(--st-red);
    color: var(--st-input-disabled-color);
    cursor: not-allowed;

    &::placeholder {
      color: var(--st-input-disabled-color);
    }
  }
}

@mixin st-input-warning {
  background-color: var(--st-input-warning-background-color);
  border: 1px solid var(--st-orange);
  color: var(--st-orange);

  &::placeholder {
    color: var(--st-orange);
  }

  &:disabled {
    background-color: var(--st-input-disabled-background-color);
    border: 1px solid var(--st-orange);
    color: var(--st-input-disabled-color);
    cursor: not-allowed;

    &::placeholder {
      color: var(--st-input-disabled-color);
    }
  }
}
